/* Add your CSS to this file */
:root {
    --default-font: -apple-system, BlinkMacSystemFont, "SegoeUI", Roboto, "HelveticaNeue", Arial, "NotoSans", sans-serif;
    --default-font-size: 18px
}

body {
    margin: 0;
    font-family: var(--default-font);
    font-size: var(--default-font-size);
}

body img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px;
    max-width: 250px;
}

header {
    background-color: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header > .container {
    display: flex;
    justify-content: space-around;
}

header > .container > nav > ul {
    display: flex;
}

header > .container > h1 {
    font-size: 18px;
}

header > .container > nav > ul > li {
    list-style: none;
    margin: 10px;
}

header > .container > nav a {
    color: #6B7280;
}

header > .container > nav a:hover {
    color: #5A67D8;
}

.overview-hero > .container {
    display: flex;
    justify-content: space-between;
    background-color: #E2E8F0;
}

.overview-hero > .container > .overview-hero-image {
    margin: 50px 25px 50px 100px;
}

.overview-hero > .container > .overview-hero-text {
    margin: 50px 100px 50px 25px;
}

.learn-about > .container > .cards {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.learn-about > .container > .cards > .card > img {
    max-height: 150px;
}

.learn-about > .container h2 {
    font-size: 24px;
    color: #48BB78;
}

.learn-about > .container h3 {
    color: #48BB78;
    font-size: 21px;
}

.learn-about > .container > .cards > .card {
    margin: 20px;
    text-align: center;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 3px 3px #C3C4C6;
}

/*
.learn-about > .container > .cards > .card {
    margin: 5px;
}
*/

.testing > .container {
    display: flex;
    justify-content: space-around;
    /*
    display: grid;
    grid-template-columns: 80% 20%;
    */
    background-color: #4A5568;
    color: #FFFFFF;
}

.testing > .container > .testing-description {
    margin: 50px 100px 50px 25px;
}

.testing > .container > .cta {
    margin: 50px 100px 50px 25px;
    background-color: #48BB78;
    border-radius: 5px;
}

.stories > .container > article {
    display: flex;
}

.stories > .container > article > .article-body {
    margin: 20px;
}

.stories > .container h2 {
    color: #5A67D8;
}

.stories > .container > article a {
    color: #5A67D8;
}

.stories > .container > article img {
    border-radius: 50%;
}

.stories > .container > article h3 {
    font-size: 18px;
}

.newsletter > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    background-color: #48BB78;
    color: #FFFFFF;
}

.newsletter > .container button {
    background-color: #5A67D8;
}

.newsletter > .container > form {
    display: flex;
}

footer > .container {
    text-align: center;
    background-color: #4A5568;
    color: #FFFFFF;
}
